.l-heading {
    font-size: 2rem;
}

/******** Navbar ********/
#main-nav .social {
    display: none;
}

#main-nav .container {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
}

#main-nav .container .logo, 
#main-nav .container ul {
    justify-self: center;
}


#main-nav .container ul a {
    padding: .7rem;
}

/******** Showcase ********/
#showcase::before{
    content: '';
    background: url('../img/featured-mobile.jpg') no-repeat center center/cover;
    opacity: .2;
}

#showcase .showcase-container{
    height: 50vh;
}

/******** Home Page Articles ********/
#home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child, 
#home-articles .articles-container > *:last-child{
    grid-template-columns: 1fr;
    grid-column: 1;
}


/******************** All Mobile Media Queries ********/
@media (max-width: 600px) {
    #showcase .showcase-container, 
    #home-articles .articles-container,
    #main-footer .footer-container {
        grid-template-columns: 1fr;
    }

    #showcase .showcase-container{
        height: 80vh;
    }

    #main-footer .footer-container > *:last-child {
        grid-column: 1;
    }

    #main-footer .footer-container > *:first-child,
    #main-footer .footer-container > *:nth-child(2){
        padding-bottom: .56rem;
        border-bottom: solid #222 1.5px;
    }

    #main-footer .footer-container > *:nth-child(2){
        padding-bottom: 1rem;
    }

    .page-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .page-container > *:first-child {
        grid-row: 1;
    }
}