@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap');

:root {
    --primary-color: #077;
    --secondary-color: #a0a;
    --light-color: #c7c4c4;
    --dark-color: #333;
    --max-width: 1200px;
}

.category {
    --vehicle-color: #077;
    --ai-color: rgb(204, 16, 16);
    --fly-color: #280;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: var(--light-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
    line-height: 1.3;
    margin: .66rem 0;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

p {
    margin: .66rem 0;
}

/************************* Utility Classes **************************/
.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.l-heading {
    font-size: 3rem;
}

.current {
    background-color: var(--primary-color);
    color: #fff;
}

.category {
    text-transform: uppercase;
    font-size: .55rem;
    padding: .3rem .8rem;
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    margin-bottom: .45rem;
}

.category-ai{ background: var(--ai-color); }
.category-fly{ background: var(--fly-color); }
.category-vehicle{ background: var(--vehicle-color); }

.btn {
    display: inline-block;
    color: #fff;
    background: var(--dark-color);
    border: none;
    padding: .6rem 1rem;
}

.btn-light{ background-color: var(--light-color); color: #333; }
.btn-primary{ background-color: var(--primary-color); }
.btn-secondary{ background-color: var(--secondary-color); }

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.btn:hover {
    opacity: .8;
}

.card {
    background: #fff;
    padding: 1rem;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-secondary {
    background: var(--secondary-color);
    color: #fff;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }
.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
    color: #fff;
}

.list li {
    border-bottom: dotted #444 1px ;
    padding: .6rem 0;
    width: 90%;
}

.list li a:hover{
    color: var(--primary-color);
}

/* inner page grid container */
.page-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1.5rem;
    padding: 2rem 0;
} 

.page-container > *:first-child {
    grid-row: 1 / span 5;
}

/************************* Landing Page **************************/
/******** Navbar ********/
#main-nav{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#main-nav .container .logo {
    width: 180px;
}

#main-nav .container ul {
    justify-self: flex-end;
    display: flex;
}

#main-nav .container ul a {
    padding: .9rem 1rem;
}

#main-nav .container ul a:hover {
    background-color: var(--light-color);
    color: #333;
}

#main-nav .social {
    justify-self: center;
}

#main-nav .social i {
    justify-self: flex-end;
    color: #555;
    margin-right: .5rem;
}

#main-nav .container i:hover {
    color: #222;
}

/******** Showcase ********/
#showcase {
    padding: 1rem;
    color: #fff;
    background-color: var(--dark-color);
    position: relative;
}

#showcase::before{
    content: '';
    background: url('../img/featured.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .6;
}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#showcase .showcase-content {
    z-index: 1;
}

#showcase .showcase-content h1 {
    font-size: 2rem;
}

#showcase .showcase-content p {
    margin-bottom: 1rem;
}

/******** Home Page Articles ********/
#home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child, 
#home-articles .articles-container > *:last-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1rem;
    grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
    grid-column: 2 / span 2;
}

/******** Article Page ********/
#article .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: var(--light-color);
    border-radius: 5px;
}

#article .category {
    margin-top: .4rem;
}

/******** Main Footer ********/
#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

#main-footer .footer-container > *:last-child {
    text-align: center;
    padding: .2rem;
    background-color: #2e2e2e;
    grid-column: 1 / span 4;
    font-size: .68rem;
}

#main-footer .footer-container img {
    width: 150px;
}

#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: .5rem;
    margin-bottom: .55rem;
}


#main-footer .footer-container input[type='submit'] {
    width: 90%;
}